{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>All Bills</h1>
    <a href="{% url 'bill-create' %}" class="btn btn-primary mb-3">Add New Bill</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Bills</th>
                <th>Category</th>
                <th>Paid By</th>
                <th>Total Amount</th>
                <th>Per Head</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in bills %}
            <tr>
                <td>{{ bill.note }}</td>
                <td>{{ bill.category.name }}</td>
                <td>{{ bill.paidby.name }}</td>
                <td>{{ bill.billed_amount }}</td>
                <td>{{ bill.per_head_amount }}</td>
                <td>{{ bill.dateofBill }}</td>
                <td>
                    <a href="{% url 'bill-detail' bill.uuid %}" class="btn btn-info btn-sm">View Details</a>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
